<!DOCTYPE html>
<html >
<!--From https://codepen.io/frytyler/pen/EGdtg-->
<head>
  <meta charset="UTF-8">
  <title>ML API</title>
  <link rel="stylesheet" href="./style.css">
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
  
</head>

<body>
 <div class="login">

  <div class="header">
	 <h1>Predict Salary Analysis</h1>
  </div>

     <!-- Main Input For Receiving Query to our ML -->
    <form action="{{ url_for('predict')}}"method="post">
      <label for="experience" style="color: white;">Enter the experience (number of year) :</label>
    	<input type="text" name="experience" placeholder="Experience" required="required" /><br>
      <label for="test_score" style="color: white;">Enter score of the test (number) :</label>
      <input type="text" name="test_score" placeholder="Test Score" required="required" /><br>
      <label for="interview_score" style="color: white;">Enter the score of the interview (number) :</label>
		  <input type="text" name="interview_score" placeholder="Interview Score" required="required" /><br>
      <button type="submit" class="btn btn-primary btn-block btn-large">Predict</button>
    </form>

   <br>
   <br>
   {{ prediction_text }}

 </div>


</body>
</html>
