.header 
{
	padding: 10px;
	text-align: center;
	background: #1abc9c;
	color: white;
	font-size: 30px;
}

.header h1
{
	margin: 10px;
}

body
{
	margin: 0;
	background-color: #878787;
}

input, button
{
	margin-top: 10px;
}

form 
{ 
	margin: 0 auto; 
	width:500px;
}